<style>
    #commits-container button {
        outline:0
    }
    #commits-container .commits-page-number:not(:first-child) {
        margin-top: 60px;
    }
    #commits-container .info-list-item:hover .the-icon{
        color: #ee5563;
    }
</style>
<div id="commits-container" class="news-container">
    <div class="main-header-text-container">
        <h1 class="main-header-text">
            Recent Changes
            <span>to Shinobi Pro</span>
        </h1>
    </div>
    <a style="margin-bottom: 2rem;" class="btn btn-block btn-primary" target="_blank" href="https://gitlab.com/Shinobi-Systems/Shinobi">View Repository</a>
    <div class="mb-4" id="commits-list"></div>
    <button type="button" class="btn btn-block btn-success mb-2" id="commits-load-more">Load More</button>
</div>
<script>
$(document).ready(function(){
    var oldestCommitLoaded = new Date()
    var lastQueryOldestTime = new Date()
    var commitsList = $('#commits-list')
    var searchBox = $('#commits-search')
    var loadMoreButton = $('#commits-load-more')
    var noMore = false
    var currentlyLoading = false
    var loadRows = function(){
        if(currentlyLoading || noMore)return
        currentlyLoading = true
        var currentScroll =  $(window).scrollTop()
        $.get(`https://gitlab.com/api/v4/projects/6947723/repository/commits?ref_name=dev&until=${formatDateString(oldestCommitLoaded)}`,function(foundCommits){
            var newestCommitLoaded = -1
            currentlyLoading = false
            var tmp = ''
            $.each(foundCommits,function(n,v){
                var commitDate = new Date(v.created_at)
                if(newestCommitLoaded < commitDate)newestCommitLoaded = commitDate
                if(oldestCommitLoaded > commitDate)oldestCommitLoaded = commitDate
                tmp += drawNewsRow({
                    id: v.id,
                    title: v.title,
                    subtext: v.message,
                    altSubtext: `This commit was created at ${formatDateString(commitDate,null,true)}.`,
                    date: commitDate,
                    endpoint: 'https://gitlab.com/Shinobi-Systems/Shinobi/-/tree/',
                    icon: 'gitlab',
                })
            })
            if(oldestCommitLoaded === lastQueryOldestTime){
                commitsList.append(`<div class="text-center commits-page-number"><small>No Commits Found</small></div>`)
            }else if(foundCommits.length === 0){
                noMore = true
            }else{
                commitsList.append(`<div class="text-center commits-page-number" id="commits-page-number-${newestCommitLoaded.getTime()}"><small class="news-page-header btn btn-primary btn-sm">- Before ${formatDateString(newestCommitLoaded,true)} -</small></div>`)
            }
            if(oldestCommitLoaded === lastQueryOldestTime){
                noMore = true
                loadMoreButton.prop('disabled',true)
            }else{
                commitsList.append(tmp)
                $(window).scrollTop(currentScroll)
                if(oldestCommitLoaded === lastQueryOldestTime){
                    noMore = true
                    loadMoreButton.prop('disabled',true)
                }
            }
            lastQueryOldestTime = new Date(oldestCommitLoaded)
        })
    }
    searchBox.change(function(e){
        commitsList.empty()
        commitsLoaded = 0
        loadRows()
    })
    loadMoreButton.click(function(e){
        loadRows()
    })
    loadRows()
    var theWindow = $(window)
    var windoWidth = theWindow.width()
    var checkForLoaderButton = function(){
        var theScrollTop = theWindow.scrollTop()
        var theOffset = loadMoreButton.offset()
        var top_of_element = theOffset.top;
        var bottom_of_element = theOffset.top + loadMoreButton.outerHeight();
        var bottom_of_screen = theScrollTop + theWindow.innerHeight();
        var top_of_screen = theScrollTop;

        if (windoWidth > 1024 && (bottom_of_screen > top_of_element) && (top_of_screen < bottom_of_element)) {
            loadRows()
        }
    }
    setTimeout(function(){
        checkForLoaderButton()
        $(window).scroll(checkForLoaderButton)
    },5000)
})
</script>
