<% var Title='API Access'; %>
<% include blocks/header.ejs %>
<body class="body-blue">
    <div class="page-wrapper">
        <!-- ******Header****** -->
        <header id="header" class="header">
            <div class="container">
                <% include blocks/branding.ejs %>
            </div><!--//container-->
        </header><!--//header-->
        <div class="doc-wrapper">
            <div class="container">
                <div id="doc-header" class="doc-header text-center">
                    <h1 class="doc-title"><span class="icon icon_genius"></span> <%= Title %></h1>
                </div><!--//doc-header-->
                <div id="showcase" class="doc-body">
                    <div class="doc-content">
                        <div class="content-inner">
                            <section class="doc-section">
                                <!-- {
                                    "description":"Login by Websocket (Socket.IO) - Get Real-Time Events",
                                    "blocks":[
                                        {
                                            "text":"Provide your login credentials. <code>machineID</code> can be anything.",
                                            "code":"$.post('http://xxx.xxx.xxx.xxx/?json=true',{machineID: \"fMUVxYdG1X3hWb7GNkTd\", mail: \"ccio@m03.ca\", pass: \"123\", function: \"dash\"},function(d){<br>     console.log(d.$user)<br>})",
                                            "list":[
                                                "<b>mail : </b> Address used to login.",
                                                "<b>pass : </b> Password associated to the account being used to login.",
                                                "<b>ke : </b> Group Key, this can be found in Settings.",
                                                "<b>machineID : </b> The unique string used to identify a machine when using 2-Factor Authentication."
                                            ]
                                        },
                                        {
                                            "text":"If you have 2-Factor Authentication enabled you will need to pass a second gate. <code>machineID</code> must be the same as the one used at the first gate.",
                                            "code":"$.post('http://xxx.xxx.xxx.xxx/?json=true',{ke: \"2Df5hBE\", id: \"XDf5hB3\", machineID: \"fMUVxYdG1X3hWb7GNkTd\", factorAuthKey: \"123456\"},function(d){<br>     console.log(d.$user)<br>})",
                                            "list":[
                                                "<b>id : </b> User ID, this can be found after login.",
                                                "<b>factorAuthKey : </b> The key you will receive to pass the verification for your account."
                                            ]
                                        }
                                    ]
                                }, -->
                            <% include blocks/search.ejs %>
                                <p>Your <code>[API KEY]</code> can be found in <code>API</code> in the dashboard menu. Responses to HTTP Requests return as <code>JSON</code> strings. Group Key can be found in the <b>Settings</b> window.

                                <p><code>[API KEY]</code> <em>Can also be your logged in auth_token as well as the API Access key.</em></p>
                                <% var drawBlocks = function(b,m,skipBreak){ %>
                                    <% if(b.text){ %>
                                        <p><a class="text-faded" id="content-<%-link_id(b.text)%>" href="#content-<%-link_id(b.text)%>"><i class="fa fa-paperclip"></i></a>   <%- b.text %></p>
                                    <% } %>
                                    <% if(b.info){ %>
                                        <blockquote style="border-width:1px;border-color:#ddd;font-size:90%"><%- b.info %></blockquote>
                                    <% } %>
                                    <% if(b.code){ %>
                                        <pre><code><%- b.code %></code></pre>
                                    <% } %>
                                    <% if(b.list){ %>
                                        <ul>
                                            <% b.list.forEach(function(c,x){ %>
                                                <li><%- c %></li>
                                            <% }) %>
                                        </ul>
                                    <% } %>
                                    <% if(b.json){ %>
                                        <pre><code><%-JSON.stringify(b.json,null,3)%></code></pre>
                                    <% } %>
                                    <% if(b.blocks){ %>
                                        <div style="margin-left:20px">
                                        <% b.blocks.forEach(function(x,y){
                                            drawBlocks(x,y,true)
                                        }) %>
                                        </div>
                                    <% } %>
                                    <%  if(!skipBreak){ %><br><%  } %>
                                <%  } %>
                                <% pageData.forEach(function(v,n){ %>
                                    <div class="section-block">
                                        <h3 class="block-title question"><a id="content-<%- link_id(v.description) %>" href="#content-<%- link_id(v.description) %>" class="text-faded"><i class="fa fa-paperclip"></i></a>  <%- v.description %></h3>
                                        <% v.blocks.forEach(function(n,v){
                                            drawBlocks(n,v)
                                        }) %>
                                    </div>
                                <%  }) %>
                            </section><!--//doc-section-->

                        </div><!--//content-inner-->
                    </div><!--//doc-content-->
                    <div class="doc-sidebar">
                        <nav id="doc-nav">
                            <ul id="doc-menu" class="nav doc-menu hidden-xs" data-spy="affix">
                                <% pageData.forEach(function(v,n){ %>
                                    <li><a class="scrollto" href="#content-<%- link_id(v.description) %>"><%- v.description %></a></li>
                                <%  }) %>
                                <% include blocks/menu-options.ejs %>
                            </ul><!--//doc-menu-->
                        </nav>
                    </div><!--//doc-sidebar-->
                </div><!--//doc-body-->
            </div><!--//container-->
        </div><!--//doc-wrapper-->
    </div><!--//page-wrapper-->
<% include blocks/footer.ejs %>
</body>
</html>
