<% var Title='Home'; %>
<% include blocks/header.ejs %>
<body class="body-orange">
    <div class="page-wrapper">

        <!-- ******Header****** -->
        <header id="header" class="header text-center">
            <div class="container">
                <% include blocks/branding.ejs %>
            </div><!--//container-->
        </header><!--//header-->
        <section class="cards-section text-center">
            <div class="container">
                <div id="cards-wrapper" class="cards-wrapper row">
                    <% ([
                        {
                            "title": "Get Started",
                            "intro": "Installing Shinobi is easier than you might think",
                            "link": "start",
                            "icon": "bolt",
                            "color": "orange",
                        },
                        {
                            "title": "Configure",
                            "intro": "After Installation here are some things you can do",
                            "link": "configure",
                            "icon": "gears",
                            "color": "blue",
                        },
                        {
                            "title": "News",
                            "intro": "Learn about the latest news and changes",
                            "link": "/news",
                            "icon": "icon icon_lifesaver",
                            "iconType": "raw",
                            "color": "green",
                        },
                        {
                            "title": "API",
                            "intro": "Control Shinobi without Shinobi's interface",
                            "link": "api",
                            "icon": "icon icon_genius",
                            "iconType": "raw",
                            "color": "blue",
                        },
                        {
                            "title": "Explore Stream URLs",
                            "intro": "Tested Cameras and Systems by the community",
                            "link": "https://hub.shinobi.video/explore",
                            "icon": "search",
                            "color": "red",
                        },
                        // {
                        //     "title": "Hardware Acceleration",
                        //     "intro": "More work less effort",
                        //     "link": "gpu",
                        //     "icon": "hdd-o",
                        //     "color": "blue",
                        // },
                        // {
                        //     "title": "Settings",
                        //     "intro": "Learn to Tweak your Shinobi",
                        //     "link": "settings",
                        //     "icon": "wrench",
                        //     "color": "pink",
                        // },
                        {
                            "title": "Object Detection",
                            "intro": "Object Detection with TensorFlow.js",
                            "link": "object",
                            "icon": "street-view",
                            "color": "blue",
                        },
                        {
                            "title": "Supported",
                            "intro": "How to know if your camera is supported",
                            "link": "https://hub.shinobi.video/articles/view/uF2B8YmMDvIy79K",
                            "icon": "icon icon_puzzle_alt",
                            "iconType": "raw",
                            "color": "pink",
                        },
                        {
                            "title": "Donate",
                            "intro": "Donating will tremendously help development",
                            "link": "donate",
                            "icon": "icon icon_gift",
                            "iconType": "raw",
                            "color": "primary",
                        },
                        {
                            "title": "Motion Detection",
                            "intro": "Learn to setup Motion-based Event Triggering",
                            "link": "https://hub.shinobi.video/articles/view/LKdcgcgWy9RJfUh",
                            "icon": "eye",
                            "color": "green",
                        },
                        {
                            "title": "Contributing",
                            "intro": "Bread tastes better with friends",
                            "link": "contribute",
                            "icon": "heartbeat",
                            "color": "orange",
                        },
                        {
                            "title": "Credits",
                            "intro": "Appreciation where it is due. License information",
                            "link": "credits",
                            "icon": "creative-commons",
                            "color": "orange",
                        },
                        // {
                        //     "title": "Plugins",
                        //     "intro": "Make it better with a little butter",
                        //     "link": "plugins",
                        //     "icon": "plug",
                        //     "color": "blue",
                        // },
                    ]).forEach((item) => { %>
                        <div class="item item-<%- item.color %> col-md-4 col-sm-6 col-xs-6">
                            <div class="item-inner">
                                <div class="icon-holder">
                                    <i class="<%- item.iconType === 'raw' ? item.icon : `icon fa fa-${item.icon}` %>"></i>
                                </div><!--//icon-holder-->
                                <h3 class="title"><%- item.title %></h3>
                                <p class="intro"><%- item.intro %></p>
                                <a class="link" href="<%- item.link %>"><span></span></a>
                            </div><!--//item-inner-->
                        </div><!--//item-->
                    <% }) %>
                </div><!--//cards-->
            </div><!--//container-->
        </section><!--//cards-section-->
    </div><!--//page-wrapper-->

<% include blocks/footer.ejs %>

</body>
</html>
